body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 55px;

    left: 0;
    right: 0;
    bottom: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(88, 0, 120);

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
header h3 {
    margin-left: 160px;
    color: aliceblue;
}
.header-links {
    display: flex;
    gap: 15px;
    margin-right: 160px;
    color: aliceblue;
}
.header {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(54, 0, 75);
}
.header h1,
.header p {
    color: aliceblue;
}
img {
    width: 400px;
    border-radius: 20px;
}
main {
    background-color: rgb(192, 168, 207);
}
main h2 {
    text-align: center;
}
.contenedor-informacion {
    display: flex;
    justify-content: space-between;
}
.titulo {
    text-align: center;
}
.informacion {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 400px;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
    border-radius: 20px;
}
.informacion p {
    color: aliceblue;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}










footer {
    background-color: rgb(88, 0, 120);
    text-align: center;
}
footer p{
    font-family: sans-serif;
    color: aliceblue;
}